# Others
database_files/
figures/

# Sandbox for Rough Work
sandbox/

# Large Result Files or Unneeded Files
results/synthetic_lethality_screen.csv
results/old/
results/other/synthetic_lethality_screen.csv
results/candidate_genes_tcga
results/T-Test (> -0.6)/
results/T-Test (< -0.6)/
results/CNA*/


# Notebook PDFs
notebooks/pdf/

# Streamlit
streamlit_app/reports/
streamlit_app/scripts/
streamlit_app/old_pages/
streamlit_app/pages/2_🧬_CNV_Explorer.py
streamlit_app/gene_browser_with_stats_home.py
streamlit_app/streamlit_ui

# Agents
agents/.env
agents/low_confidence_reports/
agents/test_non_sl_reports/
agents/test_sl_reports/
agents/logs/
agents/Agent Reports.zip
agents/cluster_selector/logs/
old_reports/