# Others
database_files/
figures/

# Sandbox for Rough Work
sandbox/

# Large Result Files or Unneeded Files
results/synthetic_lethality_screen.csv
results/old/
results/other/synthetic_lethality_screen.csv
results/other/
results/clinical_translation/
results/CNA_quantitative_cluster_delta/
results/unified_validation_cna_expr_fdr_removed/


# Notebook PDFs
notebooks/pdf/
notebooks/old/

# Streamlit
streamlit_app/reports/
streamlit_app/scripts/
streamlit_app/old_pages/
streamlit_app/pages/2_🧬_CNV_Explorer.py
streamlit_app/gene_browser_with_stats_home.py
streamlit_app/streamlit_ui

# Agents
agents/
results/reports_from_agent/