# Core app
streamlit
pandas
numpy

# For markdown report rendering and downloads
markdown
html2text
Pillow

# Plotting and Stats 
matplotlib
plotly
scipy
holoviews
bokeh
seaborn
lifelines

# For JSON data, APIs, and HTTP requests
requests

# For parsing and working with text / reports
markdown-it-py
mdurl
Markdown

